html {
    overflow: none;
}

body {
    background: #f89cbc;
    overflow-x: hidden;
}

.container2 {
    overflow: hidden;
    width: 100%;
}

.featured-div h2 {
    color: rgb(231, 0, 0);
    font-weight: 100;
    font-size: 2.5rem;
}

.featured-div p {
    font-weight: 100;
    color: #982f54;
}

.main-navbar .navbar-brand {
    color: rgb(231, 0, 0);
}

.main-navbar .navbar-brand:hover {
    color: rgb(231, 0, 0);
}

.main-navbar {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

#navLinks .navbar-nav a {
    color: white;
}

#navLinks .navbar-nav a:hover {
    color: rgb(231, 0, 0);
}

#headingGroup span {
    color: rgb(231, 0, 0);
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.featured-sec {
    margin-block: 100px;
}

.navbar.scrolled {
    background: rgb(207, 180, 207);
    transition: background 500ms;
}

@media screen and (max-width:1250px) {
    #headingGroup h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width:767.3px) {
    .featured-div {
        margin-bottom: 100px;
    }

}